* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#div_table {
    border:  solid rgb(52, 36, 36);
    padding: 30px;
    /* box-shadow: 0px 0px 25px rgb(9, 9, 9); */

    display: flex;
    justify-content: center;

    
}
h1{
    text-align:  center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto auto;
    
}

#tbody{
    /* width: 500px; */
    box-shadow: 0px 0px 25px rgb(9, 9, 9);
    height: 57vh;
    
}

